.card-box{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    row-gap: 2em;
    flex-wrap: wrap
}

.header-card{
    padding: 50px;
    color: white;
    background-image: url("../../assets/page-images/mock1.jpg");
    text-align: left;
    font-size: 36px;
    letter-spacing: 0.2em;
    font-weight: 700;
    margin-bottom: 15px;
}