<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/home">
        <span nz-icon nzType="coffee" nzTheme="outline"></span>
        <h1>Concept-O</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Хранилище" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/charachers">Персонажи</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="/classes">Классы</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/quests">Квесты</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Миры</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Создать" nzIcon="plus-circle">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Персонажи</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Классы</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Квесты</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Миры</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Поиск концептов" nzIcon="search">
      </li>
      <li nz-submenu nzTitle="О разработчиках" nzIcon="star">
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
